:root {
    --main-bg-color: #DFE0ED;
    --main-text-color: #0D0D0D;
    --accent-color: #653AD8;
    --button-color: #F2887E;
    --highlight-color: #F23A29;
    --highlight-dark-color: #171940;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredericka the Great', cursive;
}

a:link {
    text-decoration: none;
}

html,
body {
    background-color: var(--main-bg-color);
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
}

img {
    width: 100%;
}

section {
    margin: 0 auto;
    max-width: none;
}

header {
    text-align: right;
    top: 0;
    /*height: 12vw;
    background-color: blue;*/
    width: 100%;
    position: fixed;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    color: var(--highlight-color);
    font-size: 8vw;
}

h2 {
    font-family: 'Fredericka the Great', cursive;
    color: var(--highlight-color);
    font-size: 4.5vw;
    /*font-variant: small-caps;*/
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: var(--button-color);
    font-size: 3vw;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--highlight-dark-color);
    font-size: 2.5vw;
}

figcaption {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 2.3vw;
    color: var(--highlight-dark-color);
}


/*-----------------burger menu-------------------*/
#menu {
    position: absolute;
    background: rgb(103, 113, 221);
    background: linear-gradient(180deg, rgba(103, 113, 221, 1) 0%, rgba(163, 169, 235, 1) 49%, rgba(202, 205, 236, 0.7217261904761905) 100%);
    opacity: 0.6;
    width: 100%;
    top: 0;
    text-align: right;
    transition: transform .6s;
    transform-origin: top left;
}

#menu ul {
    list-style-type: none;
    margin: 15vw 10vw 5vw 5vw;
    padding: 1.5vw;
    text-align: right;
}

#menu li {
    margin: 2vw;
    padding: 1vw;
}

#menu li:hover {
    transform: scale(1.3);
}

#menu a {
    color: white;
    font-weight: 700;
    font-size: 4.5vw;
    font-family: 'Open Sans', sans-serif;
}

#menuknap {
    display: inline-block;
    z-index: 1;
}

.pos {
    position: relative;
    top: 3.5vw;
    right: 2vw;
}

.bar1,
.bar2,
.bar3 {
    z-index: 3;
    box-sizing: border-box;
    width: 7vw;
    height: 1vw;
    background-color: var(--highlight-dark-color);
    opacity: 0.8;
    margin-bottom: 1vw;
    padding: 0.4vw;
    border-radius: 0.4vw;
    box-shadow: 0.2vw 0.2vw 1vw 0.1vw grey;
}

.hidden {
    transform: translateX(100%);
    transition: .10s;
    visibility: collapse;
    overflow: hidden;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-2vw, 1.5vw);
    transition: .10s;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-1vw, -1vw);
    transition: .10s;
}

/* unvisited link */
nav a:link {
    color: var(--main-bg-color);
}

/* visited link */
nav a:visited {
    color: var(--highlight-dark-color);
}

/* mouse over link */
/* selected link */
nav a:hover,
nav a:active {
    text-decoration: underline;
    color: var(--highlight-color);
}


/*-----------------INDHOLD------------------*/
/*-----------------SPLASH-------------------*/
#splash {
    width: 100vw;
    height: 160.8vw;
    background-image: url(assets/splashbillede2.png);
    background-size: cover;
    background-position: 57% 0%;
}

/*-----------------OM MIG-------------------*/
#om {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5vw;
    padding: 1.5vw;
}

#om .sectionwrapper {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.col_left,
.col_right {
    flex-grow: 1;
    flex-basis: 300px;
}

figure .collage {
    margin-top: 3vw;
}

#om p {
    font-family: 'Open Sans', sans-serif;
    color: var(--highlight-dark-color);
}

/*---------------TIMELINE----------------*/
.timeline_wrapper {
    margin: 3vw 0.5vw 3vw 0.5vw;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    background-color: rgba(217, 126, 202, 0.17);
    border-radius: 2vw;
    position: relative;
    width: 83vw;
    margin: 2.5vw;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 0.9vw;
    background-color: white;
    opacity: 0.3;
    top: 14vw;
    bottom: 0;
    left: 25vw;
    margin-left: -1vw;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: -1vw;
    background-color: var(--button-color);
    /*border: 1vw solid var(--button-color);*/
    top: 2vw;
    border-radius: 50%;
    z-index: 1;
}

/* Fix the circle for containers */
.right {
    left: 25vw;
}

.left {
    left: -8vw;
}

.right::after {
    left: -7.5vw;
    top: -7vw;
}

.left::after {
    display: none;
}

/* Container around content */
.container {
    margin: 0 0 0 4vw;
    padding: 2vw;
    position: relative;
    width: 65vw;
    top: -7vw;
}

.content {
    top: -11.5vw;
    margin-right: 5vw;
    padding: 1vw 3vw 0 0;
    position: relative;
}

.content_left {
    padding-left: 3.5vw;
    top: 2vw;
    position: relative;
}

/*-----------------PORTFOLIO_index.html-------------------*/
#portfolio {
    display: flex;
    flex-flow: row wrap;
    margin: 2.5vw;
    padding: 1.5vw;
}

.sectionwrapper_top {
    display: flex;
    flex-flow: row wrap;
    margin: 2vw;
    padding: 1vw;
}

.sectionwrapper_bottom {
    display: flex;
    flex-flow: row-reverse wrap;
    margin: 2vw;
    padding: 1vw;
}

.tema {
    flex-grow: 1;
    flex-basis: 250px;
    margin: 3vw;
    padding: 0;
    transition: transform .2s;
}

.behind {
    box-shadow: 2vw 2vw 8vw grey;
    border-radius: 50%;
}

.tema:hover {
    transform: scale(1.2);
}

/*-----------------TEMA 1_gweb.html-------------------*/
#gweb {
    display: flex;
    flex-wrap: wrap;
    margin: 6vw 1vw 2vw 1vw;
    padding: 1vw;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2vw;
    padding: 1.3vw;
}

.col {
    flex-grow: 1;
    flex-basis: 300px;
}

.wrapper a {
    color: var(--highlight-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
}

.wrapper a:hover {
    text-decoration: underline;
}

.pil_right {
    border: solid var(--highlight-color);
    border-width: 0 0.3vw 0.3vw 0;
    display: inline-block;
    padding: 1vw;
    transform: rotate(-45deg);
}

/*-----------------STORE SKÆRME-------------------*/
@media only screen and(min-width: 600px) {
    #splash {
        width: 100vw;
        height: 158.8vw;
        background-position: 0% 0%;
    }

    figure {
        margin: 1.5vw 3vw;
    }
}

@media only screen and (min-width:1000px) {
    header {
        position: relative;
    }

    #menuknap {
        display: none;
    }

    #menu {
        position: fixed;
        background: transparent;
    }

    #menu ul {
        margin: 0;
        padding: 1vw;
    }

    #menu li {
        opacity: 1;
        margin: 0.5vw 1vw 0 85vw;
        padding: 0;
    }

    #menu a {
        font-size: 1.5vw;
        font-weight: 700;
        color: var(--highlight-color);
    }

    .hidden {
        transform: none;
        visibility: visible;
    }

    #splash {
        width: 100%;
        height: 100%;
    }

    figcaption {
        font-size: 01vw;
    }

    .col_right {
        margin-right: 3vw;
        padding: 0 5vw;
    }

    .collage {
        margin-top: 5vw;
        padding: 0 2.5vw 0 0;
    }

    h1 {
        font-size: 4.5vw;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 2vw;
    }

    p {
        font-size: 1.5vw;
    }

    .timeline {
        margin: 3.5vw;
    }

    .timeline::after {
        left: 16vw;
    }

    .container::after {
        width: 2.5vw;
        height: 2.5vw;
    }

    .right::after {
        left: -15.3vw;
        top: 0;
    }

    .content {
        top: 2vw;
    }

    .content_left {
        top: 7vw;
    }
}
