:root {
    --main-bg-color: #171940;
    --accent-color: #DFE0ED;
    --shadow-circle-border: #838DEA;
    --highlight-color: #F24C27;
    font-size: 100%;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
}

html,
body {
    background-color: var(--main-bg-color);
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
}

img {
    width: 100%;
}

section {
    margin: 0 auto;
    max-width: none;
}

header {
    text-align: right;
    top: 0;
    height: 0;
    width: 100%;
}

h1 {
    font-family: 'Monoton', cursive;
    color: var(--highlight-color);
    font-size: 7.5vw;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--highlight-color);
    font-size: 5vw;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--accent-color);
    font-size: 3.5vw;
}

/*-----------------navigation menu-------------------*/
#menu {
    position: absolute;
    background: rgb(23, 25, 64);
    background: linear-gradient(187deg, rgba(23, 25, 64, 1) 0%, rgba(52, 55, 100, 1) 22%, rgba(163, 169, 235, 1) 54%, rgba(202, 205, 236, 0.7105217086834734) 95%);
    opacity: 0.6;
    width: 100%;
    top: 0;
    transition: transform .6s;
    transform-origin: top left;
}

#menu ul {
    list-style-type: none;
    margin: 15vw 10vw 5vw 5vw;
    padding: 1.5vw;
    text-align: ;
}

#menu a {
    color: var(--accent-color);
    font-size: 4.5vw;
    font-family: 'Roboto', sans-serif;
}

#menu li {
    margin: 2vw;
    padding: 1vw;
}

#menuknap {
    display: inline-block;
    z-index: 1;
}

.pos {
    position: relative;
    top: 3.5vw;
    right: 2vw;
}

.bar1,
.bar2,
.bar3 {
    z-index: 3;
    box-sizing: border-box;
    width: 7vw;
    height: 1vw;
    background-color: var(--main-bg-color);
    margin-bottom: 1vw;
    padding: 0.4vw;
    border-radius: 0.4vw;
}

.hidden {
    transform: translateX(100%);
    transition: .10s;
    visibility: collapse;
    overflow: hidden;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-2vw, 1.5vw);
    transition: .10s;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-1vw, -1vw);
    transition: .10s;
}

/* unvisited link */
nav a:link {
    color: var(--accent-color);
}

/* visited link */
nav a:visited {
    color: var(--shadow-circle-border);
}

/* mouse over link */
nav a:hover {
    text-decoration: underline;
}

/* selected link */
nav a:active {
    color: black;
}


/*-----------------indhold-------------------*/
#splash {
    width: 100vw;
    height: 159.8vw;
    background-image: url(assets/splashbillede1.png);
    background-size: cover;
    background-position: 45% 0%;
}

#om {
    /*display: flex;
    flex-wrap: wrap;*/
    margin: 2vw 2vw 3vw 2vw;
    padding: 1.5vw;

}

#om p {
    font-family: 'Roboto', sans-serif;
    color: var(--accent-color);
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 120vw;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 25vw;
    margin-left: -3px;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 0vw;
    background-color: var(--highlight-color);
    border: 1vw solid #000000;
    top: 5vw;
    border-radius: 50%;
    z-index: 1;
}

/* Fix the circle for containers on the right side */
.right {
    left: 25vw;
}

.left {
    left: -8vw;
}

.right::after {
    left: -7.5vw;
    top: -10vw;
}

.left::after {
    display: none;
}

/* Container around content */
.container {
    margin: 0 0 0 4vw;
    padding: 2.5vw;
    position: relative;
    width: 65vw;
    top: -7vw;
}

.content {
    margin: 0 0 0 4vw;
    padding: 1vw;
    position: relative;
}
